<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mohammed Abrar Basha Resume Site</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Mohammed Abrar Basha Resume Site">
    <meta name="author" content="Mohammed Abrar Basha">
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="assets/bootstrap.css" rel="stylesheet">
    <!-- Global CSS -->
    <link rel="stylesheet" href="//maxcdb.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Plugins CSS -->
    <!--link rel="stylesheet" href="assets/font-awesome.css"-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Custom styles for this template -->
    <link href="assets/styles.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css">

    <!-- Scripts -->
    <script src="assets/jquery.min.js"></script>
    <script type="text/javascript" src="assets/smoothscroll.js"></script>
    <script src="assets/Chart.js"></script>

</head>

<body>
    <!-- ******HEADER****** -->
    <header class="header">
        <div class="container">
            <img class="profile-image img-responsive pull-left" src="assets/header2.jpg" alt="Abrar Basha" width="200" height="200"/>
            <div class="profile-content pull-left">
                <h1 class="name">Mohammed Abrar Basha</h1>
                <h2 class="desc">Software Engineer</h2>
                <ul class="social list-inline">
                    <li><a href="https://www.facebook.com/abrar.basha"target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.instagram.com/arnobashbear/"target="_blank"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/mohammedabrarbasha"target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    <li class="last-item"><a href="http://github.com/mbasha/"target="_blank"><i class="fa fa-github-alt"></i></a></li>
                </ul>
            </div><!--//profile-->
        </div><!--//container-->
    </header><!--//header-->

    <div class="container sections-wrapper">
        <div class="row">
            <div class="primary col-md-8 col-sm-12 col-xs-12">
                <section class="about section">
                    <div class="section-inner">
                        <h2 class="heading">About Me</h2>
                        <div class="content">
                            <p>I'm a Software Engineer who recently graduated from Clemson University. I've primarily worked on front end applications in my career as a student of Computer Science, an intern, and on my side projects. I have a bit of back end experience, as I've done projects with a back-end implementation, usually in SQLite. </p>
                            <p>When I'm not coding, I like to spend my time watching and playing basketball. I've been known to have a pair of headphones attached to my head too. </p>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </section><!--//section-->

                <section class="experience section">
                    <div class="section-inner">
                        <h2 class="heading">Work Experience</h2>
                        <div class="content">
                            <div class="item">
                                <h3 class="title">Automation Engineering Intern: <span class="place"><a href="http://www.nucor.com/">Nucor Steel</a></span> <span class="year">(December 2015 - January 2016)</span></h3>
                                <p>Automated the filing of inventory from raw Excel files that had to be hand written to a summary page. The data was pulled using SQL commands and organized in a new Excel sheet.</p>
                            </div><!--//item-->
                            <div class="item">
                                <h3 class="title">Software Engineering Intern: <span class="place"><a href="https://www.benefitfocus.com/">Benefitfocus</a></span> <span class="year">(May 2015 - August 2015)</span></h3>
                                <p>Worked both support and feature implementation of the codebase. This included more advanced bug fixes and form feature updates. </p>
                            </div><!--//item-->

                            <div class="item">
                                <h3 class="title">Software Engineering Intern: <span class="place"><a href="https://www.benefitfocus.com/">Benefitfocus</a></span> <span class="year">(June 2014 - August 2014)</span></h3>
                                <p>Worked support of the codebase. This included code cleanup, bug fixes, and basic unit testing. Familiarized myself with the Agile process.</p>
                            </div><!--//item-->

                        </div><!--//content-->
                    </div><!--//section-inner-->
                </section><!--//section-->

                <section class="skills section">
                    <div class="section-inner">
                        <h2 class="heading">Skills</h2>
                        <div class="content">
                          <div class="container">
                            <div class="row">
                                <div class="col-lg-2 col-lg-offset-0">
                                </div>
                                <div class="col-lg-3 centered">
                                  <canvas id="java" height="130" width="130"></canvas>
                                  <p>Java</p>
                                  <br>
                                  <script>
                                    var doughnutData = [
                                        {
                                          value: 80,
                                          color:"#1abc9c"
                                        },
                                        {
                                          value : 20,
                                          color : "#ecf0f1"
                                        }
                                      ];
                                      var myDoughnut = new Chart(document.getElementById("java").getContext("2d")).Doughnut(doughnutData);
                                  </script>
                                </div>
                                <div class="col-lg-3 centered">
                                  <canvas id="cpp" height="130" width="130"></canvas>
                                  <p>C++</p>
                                  <br>
                                  <script>
                                    var doughnutData = [
                                        {
                                          value: 75,
                                          color:"#1abc9c"
                                        },
                                        {
                                          value : 25,
                                          color : "#ecf0f1"
                                        }
                                      ];
                                      var myDoughnut = new Chart(document.getElementById("cpp").getContext("2d")).Doughnut(doughnutData);
                                  </script>
                                </div>
                                <div class="col-lg-3 centered">
                                  <canvas id="sql" height="130" width="130"></canvas>
                                  <p>SQL</p>
                                  <br>
                                  <script>
                                    var doughnutData = [
                                        {
                                          value: 65,
                                          color:"#1abc9c"
                                        },
                                        {
                                          value : 35,
                                          color : "#ecf0f1"
                                        }
                                      ];
                                      var myDoughnut = new Chart(document.getElementById("sql").getContext("2d")).Doughnut(doughnutData);
                                  </script>
                                </div>

                                <div class="col-lg-3 col-lg-offset-2 centered">
                                  <canvas id="html" height="130" width="130"></canvas>
                                  <p>HTML/CSS/PHP</p>
                                  <br>
                                  <script>
                                    var doughnutData = [
                                        {
                                          value: 60,
                                          color:"#1abc9c"
                                        },
                                        {
                                          value : 40,
                                          color : "#ecf0f1"
                                        }
                                      ];
                                      var myDoughnut = new Chart(document.getElementById("html").getContext("2d")).Doughnut(doughnutData);
                                  </script>
                                </div>
                                <div class="col-lg-3 centered">
                                  <canvas id="os" height="130" width="130"></canvas>
                                  <p>Windows/OS X/Ubuntu</p>
                                  <br>
                                  <script>
                                    var doughnutData = [
                                        {
                                          value: 80,
                                          color:"#1abc9c"
                                        },
                                        {
                                          value : 20,
                                          color : "#ecf0f1"
                                        }
                                      ];
                                      var myDoughnut = new Chart(document.getElementById("os").getContext("2d")).Doughnut(doughnutData);
                                  </script>
                                </div>
                                <div class="col-lg-3 centered">
                                  <canvas id="android" height="130" width="130"></canvas>
                                  <p>Android Dev</p>
                                  <br>
                                  <script>
                                    var doughnutData = [
                                        {
                                          value: 70,
                                          color:"#1abc9c"
                                        },
                                        {
                                          value : 30,
                                          color : "#ecf0f1"
                                        }
                                      ];
                                      var myDoughnut = new Chart(document.getElementById("android").getContext("2d")).Doughnut(doughnutData);
                                  </script>
                                </div>
                            </div><!--/.row -->
                            <br>
                          </div><!--/.container -->
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </section><!--//section-->

            </div><!--//primary-->
            <div class="secondary col-md-4 col-sm-12 col-xs-12">
                 <aside class="info aside section">
                    <div class="section-inner">
                        <h2 class="heading sr-only">Information</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-map-marker"></i><span class="sr-only">Location: </span>Charleston, SC</li>
                                <li><i class="fa fa-envelope-o"></i><span class="sr-only">Email:</span><a href="mailto:abrarb3@gmail.com">abrarb3@gmail.com</a></li>
                                <li><i class="fa fa-phone"></i><span class="sr-only">Phone: </span>(843) 817-2004</li>
                            </ul>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//aside-->

                <aside class="education aside section">
                    <div class="section-inner">
                        <h2 class="heading">Education</h2>
                        <div class="content">
                            <div class="item">
                                <h3 class="title"><i class="fa fa-graduation-cap"></i> Clemson University</h3>
                                <h4 class="university">BS Computer Science<span class="year">(2012-2016)</span></h4>
                            </div><!--//item-->
                            <div class="item">
                                <h3 class="title"><i class="fa fa-graduation-cap"></i>Academic Magnet High School</h3>
                                <h4 class="university"><span class="year">(2008-2012)</span></h4>
                            </div><!--//item-->
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->

                <aside class="languages aside section">
                    <div class="section-inner">
                        <h2 class="heading">Languages</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li class="item">
                                    <span class="title"><strong>English:</strong></span>
                                    <span class="level">Native Speaker <br class="visible-xs"/><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </span>
                                </li><!--//item-->
                                <li class="item">
                                    <span class="title"><strong>Urdu:</strong></span>
                                    <span class="level">Professional Proficiency <br class="visible-sm visible-xs"/><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half"></i></span>
                                </li><!--//item-->
                                <li class="item">
                                    <span class="title"><strong>Spanish:</strong></span>
                                    <span class="level">Basic Understanding<br class="visible-sm visible-xs"/><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half"></i></span>
                                </li><!--//item-->
                            </ul>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->


                <aside class="resume aside section">
                  <div class="section-inner">
                      <h2 class="heading">Resume</h2>
                      <div class="content">
                          <div class="item">
                              <p class="title"><a href="resources/basharesume.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> View and download Resume</p>
                          </div><!--//item-->
                      </div><!--//content-->
                  </div><!--//section-inner-->
                </aside><!--//section-->

                <aside class="resume aside section">
                  <div class="section-inner">
                      <h2 class="heading">Github Sample Code</h2>
                      <div class="content">
                          <div class="item">
                            <p class="title"><a href="http://github.com/mbasha/SampleCode" target="_blank"><i class="fa fa-github-alt"></i> link to sample code repo</p>
                          </div><!--//item-->
                      </div><!--//content-->
                  </div><!--//section-inner-->
                </aside><!--//section-->

            </div><!--//secondary-->
        </div><!--//row-->
    </div><!--//masonry-->

    <!-- ******FOOTER****** -->
    <footer class="footer">
      <div class="container text-cente">
              <small class="copyright">Designed reference Xiaoying Riley. Written by Mohammed Abrar Basha </small>
              <!--/* themes.3rdwavemedia.com */-->
      </div><!--//container-->
    </footer><!--//footer-->

    <!-- Javascript -->
    <script type="text/javascript" src="assets/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="assets/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/jquery.rss.min.js"></script>
    <!-- custom js -->
    <script type="text/javascript" src="assets/main.js"></script>
</body>
</html>
